<p>account works!</p>

<!-- Add Account Form -->
<form (submit)="addAccount()">
    <div>
        <input type="text" id="accountName" [(ngModel)]="accountName" name="accountName" required placeholder="Account Name">
    </div>

    <div>
        <input type="password" id="accountPassword" [(ngModel)]="accountPassword" name="accountPassword" required placeholder="Account Password">
    </div>

    <div>
        <input type="email" id="accountEmail" [(ngModel)]="accountEmail" name="accountEmail" required placeholder="Account Email">
    </div>

    <div>
        <input type="number" id="roleID" [(ngModel)]="roleID" name="roleID" required placeholder="Role ID">
    </div>

    <button type="submit">Add Account</button>
</form>

<!-- Display Accounts -->
<button (click)="Getaccountlist()">Get Account List</button>

<ul *ngIf="accountlist.length > 0">
    <li *ngFor="let account of accountlist">
        {{account.accountID}}
        {{account.accountName}}
        {{account.accountPassword}}
        {{account.accountEmail}}
        {{account.roleID}}
    </li>
</ul>
