<p>account works!</p>

<!-- Add Account Form -->
<form [formGroup]="accountForm" (ngSubmit)="addAccount()">
    <input type="text" id="accountName" formControlName="accountName" required placeholder="Account Name">
    <input type="password" id="accountPassword" formControlName="accountPassword" required placeholder="Account Password">
    <input type="email" id="accountEmail" formControlName="accountEmail" required placeholder="Account Email">
    <input type="number" id="roleID" formControlName="roleID" required placeholder="Role ID">
    <button type="submit">Add Account</button>
</form>
<form [formGroup]="loginForm"(ngSubmit)="accountLogin()">
    <input type="text" id="username" formControlName="username" required placeholder="username">
    <input type="password" id="password" formControlName="password" required placeholder="Account Password">
    <button type="submit">Login</button>

</form>

<!-- Display Accounts -->
<button (click)="Getaccountlist()">Get Account List</button>

<ul *ngIf="accountlist.length > 0">
    <li *ngFor="let account of accountlist">
        {{account.accountID}}
        {{account.accountName}}
        {{account.accountPassword}}
        {{account.accountEmail}}
        {{account.roleID}}
        <button (click)="deleteAccount(account.accountID)">Delete</button>
    </li>
</ul>
