<p>account works!</p>

<!-- Add Account Form -->
<form [formGroup]="accountForm" (ngSubmit)="addAccount()">
    <input type="text" id="accountName" formControlName="accountName" required placeholder="Account Name">
    <input type="password" id="accountPassword" formControlName="accountPassword" required placeholder="Account Password">
    <input type="email" id="accountEmail" formControlName="accountEmail" required placeholder="Account Email">
    <button type="submit">Add Account</button>
</form>

<!-- Display Accounts -->
<button (click)="Getaccountlist()">Get Account List</button>

<ul *ngIf="accountlist.length > 0">
    <li *ngFor="let account of accountlist">
        {{account.accountID}}
        {{account.accountName}}
        {{account.accountPassword}}
        {{account.accountEmail}}
        {{account.roleID}}
    </li>
</ul>
